.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: var(--secondary-bg-color);
}

.rounded {
    border-radius: var(--border-radius);
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}
